<h4>{{title}}</h4>
<h4>{{title | titlecase}}</h4><!--ilk harfini büyük yapar-->
<h4>{{title | uppercase}}</h4><!--tamamını büyük yapar-->
<h4>{{title | lowercase}}</h4><!--hepsini küçük yapar-->
<hr>
<h4>{{myDate}}</h4>
<h4>{{myDate | date :'dd-MM-yyyy'}}</h4>
<h4>{{myDate | date :'shortDate'}}</h4>
<h4>{{myDate | date :'mediumDate'}}</h4>
<h4>{{myDate | date :'fullDate'}}</h4>
<hr>
<h4>{{myMoney | currency:'\u20BA '}}</h4>
<h4>{{myMoney | currency:'GBP'}}</h4>
<hr>
<h4>{{myObj}}</h4>
<h4>{{myObj|json}}</h4>
<hr>
<h4>{{muNumber}}</h4>
<h4>{{muNumber|number:'3.2-4'}}</h4>



